
/*.mt-1{
  display: flex;
  color: #007328;
  margin-top: .25rem !important;

}
.comisaria{
  display: ruby-text-container;
}
.brand{
  color: #007328;
  text-decoration-color: #007328;
  align-content: center;
  text-align: center;
  align-self: center;
  
}
.media {
    display: flex;
    align-items: flex-start;
    margin-right: 1rem !important;
}
.navbar {
    flex-flow: row nowrap;
    justify-content: flex-start;
    position: relative;
    padding: .5rem 1rem;
}

.logo {
    max-width: 150px;
    max-height: 80px;
}



.bicolor span.rojo {
    background: #eb3646;
    width: 54%;
}
.bicolor span {
    display: block;
    float: left;
    height: 100%;
}
.contacto{
 
    text-align: right !important;
    color: #fff;

}


.box{
  margin-top: 30px;
width: 170px;
height: 10px;

}

.footer{

  background-color: #007328;
  left:0;
  bottom:0;
  right:0;
}


.body{
  box-sizing: border-box;
  text-align: center;
}

*/
.footer{

  background-color: #007328;
 
}
.app{
  width:100%;
  margin:0;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-left: 0px;
}


.permiso-compras{
font-size: 28px;
line-height: 37px;
font-family: Roboto Slab,sans-serif;
}
.body{
  text-align: left;
  padding-bottom: 10px;
}
.links{

  color:#fff;
  text-decoration: none;
  padding-left: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: left;
}

.bicolor{
padding-top: 30px;
width: 170px;
height: 100%;
padding-bottom: 10px;
padding-left: 40px;
color: transparent;
}
.rojo{
  background-color:  #eb3646;
  width: 54%;
  display: inline flow-root list-item;
  height: 10px;
}
.azul{
  background-color: #0f69b4;
  width: 46%;
  display: inline flow-root list-item;
  height: 10px;
}
.boton {
    color: #fff;
    background-color: #007328!important;
    border-color: #007328!important;
}
.left-col{
  padding-left: 50px!important;
}
.left-col2{
  background-color: #007328!important;
  padding-left: 30px!important;
  border-color: #007328!important;
  display: block !important;
}
.col1{
  padding-left:50px;
}
